<Sysmon schemaversion="4.90">
  <!-- Capture all hashes -->
  <HashAlgorithms>*</HashAlgorithms>
  <EventFiltering>
    <ProcessCreate onmatch="exclude"></ProcessCreate>

    <!-- log process termination -->
    <ProcessTerminate onmatch="exclude" />

    <NetworkConnect onmatch="exclude">
      <Image condition="end with">iexplore.exe</Image>
      <Image condition="end with">svchost.exe</Image>
    </NetworkConnect>

    <FileCreate onmatch="exclude"></FileCreate>

    <RegistryEvent onmatch="exclude">
      <Image condition="end with">svchost.exe</Image>
      <Image condition="end with">powershell.exe</Image>
    </RegistryEvent >


    <DnsQuery onmatch="exclude">
      <Image condition="end with">Sysmon64.exe</Image>
      <Image condition="end with">svchost.exe</Image>
    </DnsQuery>
	
	<FileBlockExecutable onmatch="include">
      <TargetFilename condition="contains all">C:\Users;Downloads</TargetFilename>
    </FileBlockExecutable>
	
	<FileExecutableDetected onmatch="include">
    <TargetFilename condition="begin with">C:\ProgramData\</TargetFilename>
        <TargetFilename condition="begin with">C:\Users\</TargetFilename>
    </FileExecutableDetected>

  </EventFiltering>
</Sysmon>