<Sysmon schemaversion="4.90">
	<!-- Capture all hashes -->
	<HashAlgorithms>*</HashAlgorithms>
	<EventFiltering>

		<!-- ID 1: Process creation-->
		<RuleGroup name="MY_Process_Creation" groupRelation="or">
			<ProcessCreate onmatch="exclude">

				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k appmodel -s StateRepository</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k appmodel</CommandLine>				<!--Microsoft:Windows 10-->
				<CommandLine condition="is">C:\WINDOWS\system32\svchost.exe -k appmodel -p -s tiledatamodelsvc</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k camera -s FrameServer</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k dcomlaunch -s LSM</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k dcomlaunch -s PlugPlay</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k defragsvc</CommandLine>				<!--Microsoft:Windows defragmentation-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k devicesflow -s DevicesFlowUserSvc</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k imgsvc</CommandLine>				<!--Microsoft:The Windows Image Acquisition Service-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localService -s EventSystem</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localService -s bthserv</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localService -s nsi</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localService -s w32Time</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localServiceAndNoImpersonation</CommandLine>				<!--Microsoft:Windows: Network services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localServiceNetworkRestricted -s Dhcp</CommandLine>				<!--Microsoft:Windows: Network services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localServiceNetworkRestricted -s EventLog</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localServiceNetworkRestricted -s TimeBrokerSvc</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localServiceNetworkRestricted -s WFDSConMgrSvc</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localServiceNetworkRestricted</CommandLine>				<!--Microsoft:Windows: Network services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localServiceAndNoImpersonation -s SensrSvc</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localServiceNoNetwork</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted -p -s WPDBusEnum</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted -p -s fhsvc</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted -s DeviceAssociationService</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted -s NcbService</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted -s SensorService</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted -s TabletInputService</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted -s UmRdpService</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted -s WPDBusEnum</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted -s WdiSystemHost</CommandLine>				<!--Microsoft:Windows: Diagnostic System Host [ http://www.blackviper.com/windows-services/diagnostic-system-host/ ] -->
				<CommandLine condition="is">C:\WINDOWS\System32\svchost.exe -k LocalSystemNetworkRestricted -p -s WdiSystemHost</CommandLine>				<!--Microsoft:Windows: Diagnostic System Host [ http://www.blackviper.com/windows-services/diagnostic-system-host/ ] -->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted</CommandLine>				<!--Microsoft:Windows-->
				<CommandLine condition="is">C:\WINDOWS\system32\svchost.exe -k netsvcs -p -s wlidsvc</CommandLine>				<!--Microsoft:Windows: Windows Live Sign-In Assistant [ https://www.howtogeek.com/howto/30348/what-are-wlidsvc.exe-and-wlidsvcm.exe-and-why-are-they-running/ ] -->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -p -s ncaSvc</CommandLine>				<!--Microsoft:Windows: Network Connectivity Assistant [ http://www.blackviper.com/windows-services/network-connectivity-assistant/ ] -->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -s BDESVC</CommandLine>				<!--Microsoft:Windows:Network: BitLocker Drive Encryption-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -s BITS</CommandLine>				<!--Microsoft:Windows:Network: Background Intelligent File Transfer (BITS) -->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -s CertPropSvc</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -s DsmSvc</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -s Gpsvc</CommandLine>				<!--Microsoft:Windows:Network: Group Policy -->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -s ProfSvc</CommandLine>				<!--Microsoft:Windows: Network services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -s SENS</CommandLine>				<!--Microsoft:Windows: Network services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -s SessionEnv</CommandLine>				<!--Microsoft:Windows: Network services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -s Themes</CommandLine>				<!--Microsoft:Windows: Network services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs -s Winmgmt</CommandLine>				<!--Microsoft:Windows: Windows Management Instrumentation (WMI) -->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs</CommandLine>				<!--Microsoft:Windows: Network services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k networkService -p -s DoSvc</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k networkService -s Dnscache</CommandLine>				<!--Microsoft:Windows:Network: DNS caching, other uses -->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k networkService -s LanmanWorkstation</CommandLine>				<!--Microsoft:Windows:Network: "Workstation" service, used for SMB file-sharing connections and RDP-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k networkService -s NlaSvc</CommandLine>				<!--Microsoft:Windows:Network: Network Location Awareness-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k networkService -s TermService</CommandLine>				<!--Microsoft:Windows:Network: Terminal Services (RDP)-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k networkService</CommandLine>				<!--Microsoft:Windows: Network services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k networkServiceNetworkRestricted</CommandLine>				<!--Microsoft:Windows: Network services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k rPCSS</CommandLine>				<!--Microsoft:Windows Services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k secsvcs</CommandLine>
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k swprv</CommandLine>				<!--Microsoft:Software Shadow Copy Provider-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k unistackSvcGroup</CommandLine>				<!--Microsoft:Windows 10-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k utcsvc</CommandLine>				<!--Microsoft:Windows Services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k wbioSvcGroup</CommandLine>				<!--Microsoft:Windows Services-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k werSvcGroup</CommandLine>				<!--Microsoft:Windows: ErrorReporting-->
				<CommandLine condition="is">C:\WINDOWS\System32\svchost.exe -k wsappx -p -s ClipSVC</CommandLine>				<!--Microsoft:Windows:Apps: Client License Service-->
				<CommandLine condition="is">C:\WINDOWS\system32\svchost.exe -k wsappx -p -s AppXSvc</CommandLine>				<!--Microsoft:Windows:Apps: AppX Deployment Service-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k wsappx -s ClipSVC</CommandLine>				<!--Microsoft:Windows:Apps: Client License Service-->
				<CommandLine condition="is">C:\Windows\system32\svchost.exe -k wsappx</CommandLine>

				<CommandLine condition="is">cmd /c c:\utools\collectLogs.bat</CommandLine>
				<CommandLine condition="is">C:\WINDOWS\SYSTEM32\cmd.exe /c "cmd /c c:\utools\collectLogs.bat"</CommandLine>


				<Image condition="begin with">C:\utools\</Image>
				<Image condition="end with">powershell.exe</Image>
				<Image condition="end with">RuntimeBroker.exe</Image>
				<Image condition="end with">svchost.exe</Image>
				<Image condition="end with">conhost.exe</Image>

				<Image condition="end with">WmiPrvSE.exe</Image>
				<Image condition="end with">TrustedInstaller.exe</Image>
				<Image condition="end with">SearchFilterHost.exe</Image>
				<Image condition="end with">SearchProtocolHost.exe</Image>
				<Image condition="end with">backgroundTaskHost.exe</Image>



				<!--Microsoft:Windows:Apps [ https://www.howtogeek.com/320261/what-is-wsappx-and-why-is-it-running-on-my-pc/ ] -->
				<ParentCommandLine condition="is">C:\Windows\system32\svchost.exe -k netsvcs</ParentCommandLine>				<!--Microsoft:Windows: Network services: Spawns Consent.exe-->
				<ParentCommandLine condition="is">C:\Windows\system32\svchost.exe -k localSystemNetworkRestricted</ParentCommandLine>				<!--Microsoft:Windows-->
			</ProcessCreate>
		</RuleGroup>

		<!-- ID:2 file create time-->
		<RuleGroup name="File Create Time" groupRelation="or">
			<FileCreateTime onmatch="exclude">
				<Image condition='is'>C:\Users\sheng\AppData\Local\Google\Chrome\Application\chrome.exe</Image>
				<Image condition='is'>C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe</Image>
				<Image condition='is'>C:\Windows\System32\svchost.exe</Image>
				<Image condition='is'>C:\Users\sheng\AppData\Local\Programs\Microsoft VS Code\Code.exe</Image>
			</FileCreateTime>
		</RuleGroup>

		<!-- ID:3 NetworkConnect -->
		<RuleGroup name="NetworkConnect" groupRelation="or">
			<NetworkConnect onmatch="exclude">
				<Image condition="end with">iexplore.exe</Image>
				<Image condition="end with">svchost.exe</Image>
				<!-- <Image condition="end with">powershell.exe</Image> -->
			</NetworkConnect>
			<NetworkConnect onmatch="include">
				<DestinationPort name="To_WEBSITE" condition="contains any">80;443;53;123</DestinationPort>
			</NetworkConnect>
		</RuleGroup>

		<!-- ID:5 Process termination -->
		<RuleGroup name="ProcessTermination" groupRelation="or">
			<ProcessTerminate onmatch="exclude">
				<Image condition="begin with">C:\utools\</Image>
				<Image condition="begin with">C:\Windows\System32</Image>
				<Image condition="begin with">C:\Windows\WinSxS</Image>
				<Image condition="begin with">C:\Windows\servicing</Image>
				<User condition="is">"NT AUTHORITY\SYSTEM"</User>
				<User condition="is">"NT AUTHORITY\NETWORK SERVICE"</User>
			</ProcessTerminate>
		</RuleGroup>

		<!--ID:6 DriverLoad-->
		<RuleGroup name="DriverLoad" groupRelation="or">
			<DriverLoad onmatch="exclude">

			</DriverLoad>
		</RuleGroup>

		<!-- ID:8 CreateRemoteThread -->
		<RuleGroup name="CreateRemoteThread" groupRelation="or">
			<CreateRemoteThread onmatch="exclude">
			</CreateRemoteThread>
		</RuleGroup>

		<!--Event ID 9: RawAccessRead-->
		<RuleGroup name="RawAccessRead" groupRelation="or">
			<!-- ID:9 RawAccessRead -->
			<RawAccessRead onmatch="exclude">
				<Image condition='is'>System</Image>
				<Image condition='is'>C:\Windows\System32\wbem\WmiPrvSE.exe</Image>
				<Image condition='is'>C:\Windows\System32\svchost.exe</Image>
				<Image condition='is'>C:\Windows\System32\backgroundTaskHost.exe</Image>
				<Image condition='is'>C:\Windows\sysmon64.exe</Image>
			</RawAccessRead>
		</RuleGroup>


		<!--ID:10 ProcessAccess-->
		<RuleGroup name="ProcessAccess" groupRelation="or">
			<ProcessAccess onmatch="exclude">
				<SourceImage condition='is'>C:\Users\sheng\AppData\Local\Programs\Microsoft VS Code\Code.exe</SourceImage>
				<SourceImage condition='is'>C:\ProgramData\Microsoft\Windows Defender\platform\4.18.24020.7-0\MsMpEng.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\svchost.exe</SourceImage>
				<SourceImage condition='contains all'>C:\Program Files\WindowsApps\Microsoft.SkypeApp_14.53.77.0_x64__;SkypeBridge\SkypeBridge.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\sihost.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\System32\RuntimeBroker.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\SearchIndexer.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\Explorer.EXE</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\lsass.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\System32\svchost.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\csrss.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\taskmgr.exe</SourceImage>

				<SourceImage condition='is'>C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\conhost.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\cmd.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\ctfmon.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\SYSTEM32\cmd.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\System32\DriverStore\FileRepository\nv_dispig.inf_amd64_362f239e9bd019fc\Display.NvContainer\NVDisplay.Container.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\ApplicationFrameHost.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\AUDIODG.EXE</SourceImage>
				<SourceImage condition='is'>C:\Users\sheng\AppData\Local\Google\Chrome\Application\chrome.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\sysmon64.exe</SourceImage>
				<SourceImage condition='is'>C:\Program Files (x86)\Microsoft Office\root\Office16\ONENOTE.EXE</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\services.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\System32\smartscreen.exe</SourceImage>
				<SourceImage condition='contains all'>C:\Program Files\WindowsApps\45479liulios;\Snipaste.exe</SourceImage>
				<SourceImage condition='is'>C:\Program Files (x86)\Microsoft\EdgeUpdate\MicrosoftEdgeUpdate.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\servicing\TrustedInstaller.exe</SourceImage>
				<SourceImage condition='is'>C:\Windows\system32\sppsvc.exe</SourceImage>
				<SourceImage condition='contains all'>C:\Windows\winsxs\amd64_microsoft-windows-servicingstack;TiWorker.exe</SourceImage>
			</ProcessAccess>
		</RuleGroup>

		<!-- ID:11 FileCreate -->
		<RuleGroup name="FileCreate" groupRelation="or">
			<FileCreate onmatch="include">
				<TargetFilename name="" condition="end with">.exe</TargetFilename>
				<TargetFilename name="" condition="end with">.dll</TargetFilename>
				<TargetFilename name="" condition="end with">.com</TargetFilename>
				<TargetFilename name="" condition="end with">.ocx</TargetFilename>
				<TargetFilename name="" condition="end with">.hta</TargetFilename>
				<TargetFilename name="" condition="end with">.cmd</TargetFilename>
				<TargetFilename name="" condition="end with">.chm</TargetFilename>
				<TargetFilename name="" condition="end with">.ps1</TargetFilename>
				<TargetFilename name="" condition="end with">.ps2</TargetFilename>
				<TargetFilename name="" condition="end with">.psm1</TargetFilename>
				<TargetFilename name="" condition="end with">.jse</TargetFilename>
				<TargetFilename name="" condition="end with">.vb</TargetFilename>
				<TargetFilename name="" condition="end with">.vbs</TargetFilename>
				<TargetFilename name="" condition="end with">.vbe</TargetFilename>
				<TargetFilename name="" condition="end with">.iso</TargetFilename>
				<TargetFilename name="" condition="end with">.vhd</TargetFilename>
				<TargetFilename name="" condition="end with">.vhdx</TargetFilename>
			</FileCreate>

			<FileCreate onmatch="exclude">
				<Image condition='is'>C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe</Image>
				<Image condition='is'>C:\Windows\system32\WindowsPowerShell\v1.0\PowerShell_ISE.exe</Image>
				<Image condition='is'>C:\Windows\system32\svchost.exe</Image>
				<Image condition='is'>C:\Windows\system32\cleanmgr.exe</Image>
				<TargetFilename condition="end with">dll</TargetFilename>
				<TargetFilename condition="end with">psm1</TargetFilename>
				<TargetFilename condition="end with">ps1</TargetFilename>
				<TargetFilename condition="end with">exe</TargetFilename>
			</FileCreate>
		</RuleGroup>

		<!-- ID:18 PipeEvent-->
		<RuleGroup name="PIPE_EVENT" groupRelation="or">
			<PipeEvent onmatch="exclude">
			</PipeEvent>
		</RuleGroup>

		<!-- ID:19 WmiEvent -->
		<RuleGroup name="WMIEVENT" groupRelation="or">
			<WmiEvent onmatch="exclude">
			</WmiEvent>
		</RuleGroup>


		<!-- ID:22 DNSQuery -->
		<RuleGroup name="DNS_QUERY" groupRelation="or">

			<DnsQuery onmatch="exclude">
				<Image condition="end with">Sysmon64.exe</Image>
				<Image condition="end with">svchost.exe</Image>
				<Image condition="end with">powershell.exe</Image>
				<QueryName condition="is">utools.run</QueryName>
			</DnsQuery>
		</RuleGroup>
	</EventFiltering>
</Sysmon>