<Sysmon schemaversion="4.90">
	<!-- Capture all hashes -->
	<HashAlgorithms>*</HashAlgorithms>
	<EventFiltering>
		<!-- ID:22 DNSQuery -->
		<RuleGroup name="DNS_QUERY" groupRelation="or">
			<DnsQuery onmatch="exclude">
				<Image condition="end with">Sysmon64.exe</Image>
				<Image condition="end with">svchost.exe</Image>
				<Image condition="end with">powershell.exe</Image>
				<QueryName condition="is">utools.run</QueryName>
			</DnsQuery>
		</RuleGroup>
	</EventFiltering>
</Sysmon>